.boardDiv {
    border: 1px solid black;
    padding: 10px 10px 50px 10px;
    width: 500px;
    margin: auto;
    width: 60%;
    text-align: center;
}

.boardInput {
    width: 50px;
}

.timeTable {
    width: 600px;
    border: 1px solid black;
    text-align: center;
    align-self: center;
}

.tableDiv {
    display: flex;
    justify-content: center;
}

.welcome {
    padding: 15px;
}

.empID {
    padding-left: 15px;
}

h2 {
    text-align: center;
}

th {
    text-align: center;
}

td {
    padding: 15px;
}

button {
    margin: 0 auto;
}