.userh2Not {
    color: firebrick;
    text-decoration: underline;
}

.userList {
    list-style-type:none;
    text-align: center;
}

.listUser {
    background: indianred;
    padding: 15px;
    width: 650px;
    margin: auto;
    padding: auto;
    border-radius: 4px;
}

.listUser:hover {
    background: firebrick;
}